* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
    font-size:32px;
    color: #fff;
}

.row
{
    margin: 0px;
}

.center-row {
    display:table;
}

.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

#splash
{
    width: 100%;
    height: 100%;
}

.vertical-center-container
{
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}